@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.dish__title {
    color: #151414;
    text-align: center;
    font-family: 'roboto';
    font-size: 54px;
    padding-bottom: 15px;
}

.dish__txt {
    color: #3B433E;
    text-align: center;
    font-family: 'roboto';
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

.dish__cards {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.dish__card {
    max-width: 356px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #EBEBEB;
    padding: 50px 30px;
}

.dish__card:hover {
    box-shadow: 10px 20px 70px 0px rgba(71, 68, 68, 0.08), -15px -50px 81px 0px #FFF;
}

.dish__card__title {
    padding: 27px 20px;
    color: var(--black, #181D19);
    text-align: center;
    font-family: 'roboto';
    font-size: 30px;
    font-style: normal;
    line-height: normal;
}

.dish__card__txt {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: 28px;
}

.dish__btn {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    border-radius: 50px;
    background: var(--green-gradient, linear-gradient(180deg, #64BB47 0%, #2C9553 100%));
    max-width: 210px;
    width: 100%;
    margin: 0 auto;
}

.dish__btn__txt {
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__top {
    background: #FCFCFC;
}

.footer__top .container {
    padding: 122px 131px;
    display: flex;
    justify-content: space-between;
}

.ui__logo {
    max-width: 262px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 34px;
}

.logo__footer {
    color: var(--style, #2C3847);
    font-size: 26px;
    font-style: normal;
    font-weight: 770;
    line-height: normal;
}

.logo__txt {
    color: var(--657582, #657582);
    font-size: 16px;
    font-style: normal;
    font-weight: 760;
    line-height: normal;
}

.footer__card {
    max-width: 121px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer__items {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.footer__title {
    color: var(--style, #2C3847);
    font-size: 22px;
    font-style: normal;
    font-weight: 770;
    line-height: normal;
}

.footer__link {
    color: var(--657582, #657582);
    font-size: 16px;
    font-style: normal;
    font-weight: 760;
    line-height: normal;
}

.footer__bot {
    background: var(--green-gradient, linear-gradient(180deg, #64BB47 0%, #2C9553 100%));
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bot__txt {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 760;
    line-height: normal;
}